<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Password</title>
</head>
<body>
<h1>Delete Password</h1>
<form method="POST" action="{{ url_for('delete_password') }}">
    <label for="password_to_delete">Select Password to Delete:</label>
    <select name="password_to_delete" id="password_to_delete">
        {% for password in passwords %}
            <option value="{{ password.password }}">{{ password.password }}</option>
        {% endfor %}
    </select>
    <button type="submit">Delete</button>
</form>
<a href="{{ url_for('manage_passwords') }}">Back to Manage Passwords</a>
</body>
</html>
